body{ padding: 0; margin: 0; }
.main {
    background-color: azure;
    width: 100%;
}
.main>div {
    width: 30%;
    padding-bottom: 30%;
    background-color: orange;
    border-radius: 10%;
    float: left;
    margin: 1%;
}
